@media screen and (max-width: 1440px) {
  body, html {
    font-size: 14px;
  }
  .container {
    max-width: 1010px;
  }
  .menu__dropped {
    > p {
      max-width: 75px;
    }

    ul {
      max-height: 220px;

      li {
        width: 80px;
        flex-basis: 80px;

        a {
          img {
            height: 80px;
          }
        }
      }
    }
  }
  .work-dates {
    margin: 15px 0;
  }
  .seo-block__box {
    h1, h2, h3, h4, h5, h6, p {
      max-width: 350px;
    }
  }
  .modal-content__field {
    > p {
      max-width: 175px;
    }
  }

}

@media screen and (max-width: 992px) {
  .final-order-container {
    padding: 25px 20px;
  }
  .final-order__left {
    //width: 60%;
    flex-grow: 1;
    width: auto;
  }
  .final-order__right {
    width: auto;
    padding-left: 10%;
  }
  .checkout__total-left ul li  {
    p {
      font-size: 10px;

    }
    span {

    }
  }
  .checkout__total {
    padding: 10px 15px;
  }
  .checkout__total-right {
    border-left: none;
  }
  .checkout-no-border>span  {
    font-size: 8px;
    padding-left: 0;
    margin-top: 6px;
    a {
      font-size: 10px;
    }
  }
  .checkout-pay label {
    margin-bottom: 6px;
  }
  form.checkout-form small {
    margin-bottom: 0;
  }
  form.checkout-form label input {
    height: 26px;
    width: calc(100% - 40px);
  }
  .checkout-content__stage {
    width: 40px;
  }
  .checkout-content__name {
    width: calc(100% - 40px);
  }
  form.checkout-form label span {
    width: 20px;
    height: 20px;
    margin-right: 10px;

  }
  .modal-cart__total p {
    font-size: 12px;
    line-height: 14px;
    strong {
      font-size: 16px;
    }
  }
  .modal-cart__right {
    padding: 20px 15px;
  }
  .modal-cart__total .btn {
    width: 130px;
    height: 20px;
    margin-top: 5px;
  }
  .modal-cart__tab-head {
    height: 22px;
  }
  .tab-btn {
    height: 16px;
  }
  .modal-cart__total {
    padding: 10px;
  }
  .modal-cart__part label {
    width: 50px;
    height: 18px;
    input {
      width: 30px;
      height: 18px;
      transform: translate(-10px, 0);

    }

    .btn-value {
      width: 18px;
      height: 18px;
      &.btn-value--plus {

      }
    }
  }
  .modal-cart__name img {
    height: 57px;
    width: 57px;
  }
  .modal-cart__part>button:not(.add-cart--cart) {
    width: 43px;
    height: 18px;
  }
  .modal-cart__part .add-cart--cart {
    width: 43px;
    height: 18px;
  }

  .modal-window {
    top: 71px;
  }
  .modal-content__left {
    padding: 12px 25px;

  }
  .modal-content__right {
    padding: 12px 36px 12px 10px;
  }
  .modal-socials {
    margin-top: 14px;
    .btn {
      width: 130px;
      height: 20px;
    }
  }
  .work-dates {
    margin: 4px 0 7px;
    ul {
      li {
        height: 18px;
        span, p {
          font-size: 0.833em;
        }
      }
    }
  }
  .modal-content__field {
    padding: 9px 14px;
    > span {
      font-size: 1.16em;
    }
    > p {
      font-size: 0.833em;
    }
    > ul {
      li {
        p {
          font-size: 0.833em;
          max-width: 46px;
        }
      }
    }

  }
  form.form-inputs {
    .btn {
      width: 120px;
      height: 20px;
    }
    label {

      input {
        height: 25px;
        width: calc(100% - 20px);
        flex-grow: 1;
        box-sizing: border-box;
        padding-left: 9px;
        font-size: 0.8333em;
        &::placeholder {
          font-size: 0.8333em;
        }
      }
      span {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
      }
    }
  }
  .blog-article {
    flex-direction: column;
  }
  .blog-article__right {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
    .product-card {
      width: calc((100% / 3) - (40px / 3));
      margin-right: 20px;
      &:nth-child(even) {
        margin-right: 20px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .blog-article__left {
    width: 100%;
  }
  .product__left {
    height: 240px;
  }
  .slider-product-nav {
    width: 60px;
    margin-right: 10px;
    .slider-product-item {
      height: 60px !important;
    }
  }
  body, html {
    font-size: 12px;
    line-height: 106%;
  }
  .header {
    justify-content: space-between;
  }
  .container {
    max-width: 730px;
  }
  .header__right {
    margin-left: 10px;
  }
  .header__search {
    width: 240px;
  }
  .header__right > ul li {
    height: 45px;

    a {
      img {
        height: 20px;
      }
    }

    a.not-empty {
      &::after {
        width: 7px;
        height: 7px;
      }

      img {
        height: 28px;
      }
    }

  }

  .header__menu > ul > li {
    width: calc((100% / 10) - 9px);
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    > a {
      padding: 15px 5px;

      img {
        max-height: 35px;
      }
    }
  }
  .main-slider {
    height: 170px;
  }
  .slick-slider-arrow {
    height: 20px;
    width: 20px;

    &::after {
      width: 5px;
      height: 5px;
      margin-left: 0;
    }
  }
  .products__head .btn {
    height: 25px;
    padding: 2px;
    width: 100px;
  }

  .product-card {
    width: calc((100% / 5) - 8px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  .product-tag {
    padding: 4px;
  }
  .product-top__abs {
    padding: 3px;
  }
  .favorite {
    width: 25px;
    height: 18px;

    svg {
      width: 9px;
    }
  }
  .product-card__btn .btn {
    height: 18px;
    margin-right: 4px;
  }
  .btn {
    line-height: 90%;
  }
  .add-cart {
    height: 18px;
    width: 25px;

    svg {
      width: 9px;
    }
  }

  .blog-card {
    padding: 7px 7px 7px 10px;
    width: calc((100% / 2) - 10px);
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }

    .img {
      height: 200px;
      width: 200px;
    }
  }
  .blog-card__info p {
    margin-top: 30px;
    line-height: 100%;
  }
  .blog-card__info {
    margin: 10px 10px 0 0;

    .btn {
      height: 18px;
    }
  }
  .benefits__list {
    margin-top: 10px;
  }
  .benefit-card {
    margin-bottom: 10px;
    padding: 15px 10px;

    .img {
      width: 45px;

      img {
        max-height: 45px;
      }
    }
  }
  .benefit-card__info {
    margin-left: 15px;
  }
  .benefit-card__info p {
    margin-top: 6px;
    line-height: 132%;
  }
  .seo-block__content {
    padding: 20px 15px;
  }
  .seo-block__box {
    h1, h2, h3, h4, h5, h6, p {
      max-width: 270px;
      line-height: 132%;
      margin-top: 14px;
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      margin-top: 6px;
    }
  }



  .seo-block__box {
    max-height: 270px;
  }

  .footer__menu ul li {
    margin-left: 7px;

    a {
      font-size: 0.7rem;
    }

    &:first-child {
      margin-left: 0;
    }
  }
  .footer__menu ul {
    margin-bottom: 12px;

    li {
      a {
        line-height: 132%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer__logo span {
    margin-top: 8px;
  }
  .btn {
    font-size: 1rem;
  }
  .menu__dropped {
    padding: 13px;
  }
  .menu__dropped > ul li a p {
    font-size: 8px;
    line-height: 10px;
  }
  .menu__dropped > ul {
    li {
      width: 58px;
      margin-right: 0;
      margin-left: 12px;
      margin-bottom: 10px;

      a {
        img {
          height: 58px;
        }
      }
    }
  }
  .menu-filter ul li label .btn {
    height: 21px;
  }
  .menu__dropped ul {
    margin-top: 12px;
  }
  .menu-type {
    margin-left: 20px;
  }
  .menu-filter {
    margin-left: 22px;
  }
  .menu-type a {
    font-size: 10px;
    line-height: 12px;
  }
  .menu__dropped ul {
    max-height: 200px;
  }
  .menu__dropped > p {
    font-size: 0.81rem;
    line-height: 125%;
    max-width: 60px;
  }
  .menu__dropped ul {
    width: 55%;
  }
  .header__menu>ul>li>a p {
    font-size: 0.6rem;

  }
  .btn {
    font-size: 0.81rem;
  }
  .slider-container-image {
    width: calc(100% - 70px);
  }
  .slider-product-nav .slider-product-item {
    margin-bottom: 5px;
  }
  .slider-product-nav .slick-slider-arrow {
    height: 18px;
  }
  .slider-product-nav .slick-list {
    padding: 23px 0 !important;
  }
  .slider-product-for .slick-slider-arrow {
    width: 18px;
  }
  .current-views p {
    font-size: 8px;
  }

  .prod-banner {
    padding: 8px 10px;
    p {
      font-size: 8px;
      strong {
        font-size: 10px;
      }
    }
    .btn {
      height: 20px;
      width: 80px;
    }
    .favorite {
      height: 20px;
      width: 35px;
    }
  }
  .product-head__price {
    margin: 0 0 10px;
    padding: 6px;
  }
  .product-head__price p strong {
    font-size: 24px;
    line-height: 125%;
  }

  .product-head__btns {
    .btn, .favorite {
      height: 20px;
    }
    .favorite {
      width: 60px;
    }
    .btn {
      width: calc((100% - 100px) / 2);
    }
  }
  .product-content {
    margin-top: 40px;
  }
  .product-content__feature {
    margin: 10px 0;
  }
  .product-feature {
    padding: 6px;
  }
  .products__name span {
    font-size: 1rem;
  }
  .product-info__block .img {
    width: 34px;
    height: 34px;
  }
  .product-info__head {
    padding: 3px 30px;
  }
  .product-card__top {
    height: 100px;
  }
}


@media screen and (max-width: 640px) {
  .filter-brand {
    max-height: 200px;
    overflow-y: scroll;
  }

  .current-views p {
    font-size: 10px;
  }
  .product-recent__line .product-card {
    width: calc((100% / 2) - 5px);
    margin-right: 10px;
    &:nth-child(even) {
      margin-right: 10px;
    }
    &:nth-child(3n) {
      margin-right: 10px;
    }
    &:nth-child(5n) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .prod-banner {
    display: none;
  }
  .product-head__btns {
    flex-wrap: wrap;
  }
  .product-head__btns .favorite {
    height: 30px;
    width: 80px;
  }
  .product-info__head {
    display: none;
  }
  .product-head__btns .btn {
    width: calc(100% - 90px);
    margin-right: 10px;
    margin-left: 0;
    height: 30px;
    &:first-child {
      width: 100%;
      margin-right: 0;
      margin-bottom: 6px;
    }
  }
  .product__right {
    width: 100%;
  }
  .product__left {
    height: 350px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
    position: static;
  }
  .slider-container-image {
    width: 100%;
  }
  .slider-product-nav.slick-slider {
    display: none;
  }
  .final-order__right .img {
    margin-right: 15px;
  }
  .final-order-container {
    flex-direction: column;
    padding: 15px 10px;

  }
  .final-order__right .footer__socials {
    margin-top: 0;
  }
  .final-order__left {
    flex-grow: 0;
    width: 100%;
    align-items: center;
    > p {
      text-align: center;
      margin-bottom: 10px;
    }

    margin-bottom: 20px;
  }
  .final-order__right {
    width: 100%;
    padding-left: 0;
    flex-direction: row;
    justify-content: center;
  }
  .all-info {
    flex-direction: column;
  }
  .info-content__part {
    padding: 15px 10px;
  }
  .info-navigation {
    width: 100%;
    margin-right: 0;
    position: relative;
    top: auto;
    .info-links {
      display: none;
      position: absolute;
      top: 100%;
    }
  }
  .info-content__part .text {
    column-count: 1;
    p {
      padding-right: 20px;
    }
  }
  .info-open {
    display: flex;
    &.active {
      & + .info-links {
        display: flex;
      }
    }
  }
  .info-content {
    width: 100%;
    margin-top: 15px;
  }
  .checkout {
    flex-direction: column;
  }
  .header__socials {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    .btn-social {
      width: 130px;
      height: 25px;
      margin-right: 0;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .checkout__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .checkout__total {
    justify-content: space-between;
  }
  .checkout__right {
    position: static;
    width: 100%;
    .modal-cart__total .btn {
      width: 150px;
      height: 25px;
    }
  }
  .checkout__total-right {
    width: auto;
  }
  .checkout__total-right .modal-cart__total {
    padding: 0;
    margin: 0;
  }
  .checkout__content {
    margin-top: 10px;
  }
  .modal-cart__tab--content {
    max-height: none;
    overflow-y: visible;
  }
  .modal-cart__name {
    width: 34%;
  }
  .modal-cart__part {
    width: calc((100% - 34%) / 3);
  }
  .modal-cart__line {
    padding: 4px;
  }
  .modal-cart__right {
    width: 100%;
    order: 1;
    padding: 0;
  }
  .modal-cart__like-text.active {
    display: none;
  }
  .modal-cart__left {
    width: 100%;
    order: 2;
    padding: 0;
    margin-top: 15px;
  }
  .modal-cart__line .modal-cart__name p {
    margin-left: 8px;
  }

  .modal-cart__part p {
    font-size: 8px;
    strong {
      font-size: 10px;
    }
  }
  .modal-cart__right>p {
    display: none;
  }
  .modal-cart__total {
    margin: 14px 0;
  }
  .modal-window {
    overflow-y: scroll;
    align-items: flex-start;
  }
  .modal-container {
    align-items: flex-start;
  }
  .modal-content {
    padding: 15px;
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  form.form-inputs label input {
    height: 30px;
    width: 200px;
    flex-grow: 0;
  }
  form.form-inputs .btn {
    width: 160px;
    border-right: 3.5px;
    height: 30px;

  }
  .modal-content__field>ul li  {
    justify-content: flex-start;
    p {
      display: none;
    }
  }
  .modal-content__field>ul {
    margin: 10px 0;
  }
  .modal-socials .btn {
    width: 130px;
    height: 25px;
    margin-bottom: 3px;
  }
  .work-dates ul li p {
    font-size: 8px;
  }
  form.form-inputs label span {
    width: 25px;
    height: 25px;
  }
  .modal-content__left {
    width: 50%;
    padding: 0;
    border-radius: 15px;
    .modal-content__field {
      padding: 15px 5px;
    }
    &:first-child {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      .modal-content__field {
        padding: 15px 20px;
      }
    }
  }
  .work-dates ul li {
    padding: 0 3px;
  }
  .modal-content__right {
    padding: 0;
    width: 50%;
    border-radius: 15px;
  }
  .modal-content__field {
    padding: 15px 20px;
  }
  .filter-checked {
    > span {
      display: none;

    }
    ul {
      overflow-x: visible;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-bottom: 6px;
      }
    }
  }
  .all-products {
    flex-direction: column;

  }
  .filter-prod {
    width: 100%;
    padding-right: 0;
  }
  .panel-heading {
    background: #FAFAFA;
    mix-blend-mode: normal;
    border: 0.5px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 3.5px;
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #767676;
  }

  .ocfilter {
    position: relative;
    &.open {
      .list-group {
        display: block;
      }
    }
  }
  .list-group {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    display: none;
    z-index: 2;
    max-height: 280px;
    overflow-y: scroll;
    border-top: 15px solid $white;
    border-bottom: 15px solid $white;
  }

  .all-products__content {
    width: 100%;
    margin-top: 20px;
  }
  .all-products__list {
    .product-card {
      width: calc(50% - 5px);
      margin-right: 10px;
      margin-bottom: 10px;
      &:nth-child(4n) {
        margin-right: 10px;

      }
      &:nth-child(3n) {
        margin-right: 10px;

      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  .product-card {
    width: calc((100% / 3) - (20px / 3));

    &:nth-child(5n) {
      margin-right: 10px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .blog-card {
    width: 100%;
    margin-right: 0;
  }
  .prod-category__list {
    flex-wrap: wrap;
  }
  .prod-category__card {
    width: calc((100% / 3) - (20px / 3));
    margin-right: 10px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .menu__dropped {
    flex-direction: column;
    padding: 10px 5px;

    ul {
      width: 100%;
      margin-left: 0;
      margin-top: 6px;
      flex-direction: row;
    }

  }
  .menu-filter {
    display: none;
  }
  .menu-type {
    display: none;
  }
  .menu__dropped > p {
    margin-left: 10px;
  }
  .menu__dropped > ul li {
    width: calc((100% / 5) - 8px);
    flex-basis: auto;
    margin-left: 0;
    margin-right: 10px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    a {
      img {
        height: 60px;
      }

      p {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

}

@media screen and (max-width: 600px) {
  .final-order__right .footer__socials {
    flex-direction: column;
    .btn.btn-social {
      margin-bottom: 10px;
      width: 155px;
      height: 30px;
    }
  }
  .back-buy .btn {
    width: 155px;
    height: 30px;
  }
  .final-order__right .img {
    width: 130px;
    height: 130px;
    img {
      width: 55px;
      height: 55px;
    }

  }
  .back-buy {
    padding-top: 10px;
    margin-top: 0;
  }

  .offer-table {
    margin-top: 20px;
    padding: 10px;
  }
  .blog-article__left span {
    font-size: 2em;
  }
  .blog-article__right {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
    .product-card {
      width: calc(50% - 5px);
      margin-right: 10px;
      margin-bottom: 10px;
      &:nth-child(5n) {
        margin-right: 10px;
      }
      &:nth-child(3n) {
        margin-right: 10px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  .product-card__price p {
    font-size: 12px;
    strong {
      font-size: 14px;
    }
  }
  .product-card__btn {
    .btn {
      height: 24px;
    }
    .add-cart {
      height: 24px;
      width: 33px;
    }
  }
  .product-top__abs {
    padding: 5px;
  }
  .favorite {
    height: 24px;
    width: 33px;
  }
  .product-tag {
    width: 33px;
    height: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .prod-category__card {
    width: calc((100% / 5) - 12px);
    margin-top: 15px;
    padding: 3px;

    .img {
      height: 160px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    &-green {
      background: #84B286;
      color: $white;
    }
  }
  .product-card__btn .btn {
    color: $white;
  }
  .prod-category__bottom {
    padding: 3px 3px 12px;
  }
  .prod-category__bottom .btn {
    height: 18px;
  }
  .prod-category__list {
    margin-top: 10px;
  }
  .prod-category__card {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  header {
    z-index: 100;

    &.open {
      .header__bottom-line {
        right: 0;
      }

      .header {
        height: 45px;

        > a {
          display: none;
        }

        .header__search {
          display: flex;
          opacity: 1;
          visibility: visible;
          transition: visibility 0.4s ease, opacity 0.4s ease;
        }

        .header__language {
          display: flex;
          opacity: 1;
          visibility: visible;
          transition: visibility 0.4s ease, opacity 0.4s ease;
        }

        .header__right > ul {
          display: none;
        }
      }
    }
  }
  .slick-slider-arrow {
    display: none !important;
  }
  .slider-product-for .slick-slider-arrow {
    display: block !important;
  }

  .product-card {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;

    &:nth-child(3n) {
      margin-right: 10px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .product-card__top {
    height: 130px;
  }
  .header__search {
    width: 230px;
    margin-left: 0;
  }
  .slider-container {
    padding-top: 20px;
  }
  .header__bottom-line {
    position: absolute;
    background: #fafafa;
    right: 100%;
    transition: right 0.4s ease;

  }
  .menu__dropped-container {
    background: #fafafa;
    padding: 20px 0 50px;
  }
  .header__burger {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    margin-right: 15px;

    span {
      display: inline-block;
      width: 100%;
      height: 3px;
      background: #1A1A1A;
      border-radius: 1px;
      transition: all 0.3s ease;
    }

    &.open {
      span {
        &:nth-child(1) {
          transform: translate(0, 6px) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translate(0, -6px) rotate(-45deg);

        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  .header > a {
    margin-right: auto;
    width: 160px;
    height: 40px;
  }
  .header__right > ul li a {
    img {
      height: 20px;
    }

    &.not-empty {
      img {
        height: 26px;
      }

    }
  }
  .header__language {
    display: none;
  }
  .header__menu > ul {
    flex-wrap: wrap;
  }
  .header__menu > ul > li {
    width: calc((100% / 5) - 8px);
    margin-right: 10px;
    margin-bottom: 10px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    > a {
      img {
        max-height: 40px;
      }
    }
  }
  .header__menu {
    padding: 20px 0 10px;
  }
  .header__search {
    display: none;
  }
  footer {
    padding: 10px 0 22px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    order: 1;
    margin-left: 0;
  }
  .footer__menu {
    order: 2;
    margin-top: 10px;
    align-items: center;
  }

  .footer__menu ul li a {
    font-size: 10px;
  }
  .footer__logo a {
    width: 120px;
    height: 30px;
  }
  .footer__logo {
    span {
      margin-top: 2px;
      line-height: 125%;
    }
  }
  .footer__socials {
    order: 3;
    margin-top: 12px;
    flex-direction: row;
    margin-left: 0;

    .btn {
      margin-right: 10px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .blog-card {
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .blog-card__info .btn {
    color: $white;
  }
  .blog-card__info p {
    font-size: 14px;
    line-height: 16px;
  }
  .benefit-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .benefit-card__info {
    padding-right: 15px;
  }
  .benefits__list {
    margin-bottom: 10px;
  }
  .seo-block__content {
    flex-direction: column;
    max-height: 505px;
    overflow-y: scroll;
    flex-wrap: nowrap;
    position: relative;
  }
  .seo-block__box {
    width: 100%;
    margin-right: 0;
    max-height: none;
    overflow: visible;
  }
  header {
    &.scroll-down {
      .header__bottom-line {
        transform: translate(0, 0);
      }
    }
  }
}
@media screen and (max-width: 365px) {
  .final-order__right .footer__socials {
    flex-direction: column;
    .btn.btn-social {
      margin-bottom: 10px;
      width: 125px;
      height: 25px;
    }
  }
  .final-order__left>p strong {
    font-size: 30px;
    line-height: 34px;
  }
  .back-buy .btn {
    width: 125px;
    height: 25px;
  }
  .final-order__right .img {
    width: 115px;
    height: 115px;
    img {
      width: 50px;
      height: 50px;
    }

  }
}
@media screen and (max-width: 350px) {
  .modal-cart__name img {
    width: 40px;
    height: 40px;
  }
  .product-card__price p {
    font-size: 10px;
    strong {
      font-size: 12px;
    }
  }
  .benefit-card__info {
    margin-left: 12px;
  }
  .benefit-card .img {
    width: 38px;
  }
  .footer__menu ul li a {
    font-size: 8px;
  }
  .modal-content__left {
    width: 100%;
  }
  .modal-content__right {
    width: 100%;
  }
}