@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../fonts/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../fonts/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../fonts/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../fonts/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../fonts/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../fonts/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../fonts/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../fonts/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../fonts/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
body, html {
  margin: 0;
  font-family: "SF Pro Display", sans-serif;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  background: #FAFAFA;
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

html {
  height: auto;
}

.wrapper,
body {
  height: 100%;
}

main {
  flex-grow: 1;
}

.content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
}

.footer {
  flex-shrink: 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1230px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

header, footer {
  width: 100%;
}

header {
  z-index: 10;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header > a {
  width: 180px;
  height: 44px;
  flex-shrink: 0;
  align-self: flex-start;
}
.header > a img {
  width: 100%;
  height: 100%;
}

.header__top-line {
  width: 100%;
  padding: 13px 0;
  background: #ffffff;
  z-index: 2;
}

.header__search {
  width: 280px;
  margin-left: 20px;
  display: flex;
  position: relative;
}
.header__search > label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.header__search > label input {
  height: 100%;
  background: #FAFAFA;
  border: none;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 17px;
  flex-grow: 1;
  padding-left: 20px;
  color: #767676;
}
.header__search > label input::placeholder {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 17px;
  color: #767676;
}
.header__search > label input:focus {
  border: none;
  outline: none;
}
.header__search > label input:focus + button {
  background: #C7C7C7;
  transition: background-color 0.3s ease;
}
.header__search > label input:focus + button svg path {
  fill: #ffffff;
  transition: all 0.3s ease;
}
.header__search > label input.not-empty + button {
  background-color: #84B286;
}
.header__search > label input.not-empty + button svg path {
  fill: #ffffff;
  transition: all 0.3s ease;
}
.header__search > label button {
  width: 40px;
  display: flex;
  height: 100%;
  background: #FAFAFA;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.header__search > label button svg {
  width: 13px;
  height: 12.5px;
}
.header__search > label button svg path {
  transition: all 0.3s ease;
  fill: #767676;
}
.header__search ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  background: #C7C7C7;
  border-radius: 15px;
  list-style: none;
  box-sizing: border-box;
  padding: 11px 19px;
}
.header__search ul li {
  width: 100%;
}
.header__search ul li a {
  width: 100%;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}
.header__search ul li a:hover {
  text-decoration: underline;
}
.header__search.have-results ul {
  display: block;
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
}
.header__right > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 8px;
  padding: 0;
}
.header__right > ul li {
  margin-left: 8px;
  width: 41px;
  height: 55px;
  background: #ffffff;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header__right > ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 7.5px;
  transition: background-color 0.3s ease;
  position: relative;
}
.header__right > ul li a.not-empty::after {
  content: "";
  display: inline-block;
  background: #84B286;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 2px;
  top: 4px;
  border-radius: 50%;
}
.header__right > ul li a.active {
  background: #C7C7C7;
}
.header__right > ul li a:hover {
  transition: background-color 0.3s ease;
  background: #FAFAFA;
}
.header__right > ul li:first-child {
  margin-left: 0;
}

.header__language {
  position: relative;
}
.header__language p {
  display: inline-block;
  padding: 4px 6px;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 17px;
  color: #767676;
  background: #ffffff;
  border-radius: 7.5px;
  transition: background-color 0.3s ease;
}
.header__language p:hover {
  transition: background-color 0.3s ease;
  background: #FAFAFA;
  cursor: pointer;
}
.header__language p.active {
  background: #C7C7C7;
}
.header__language p.active + ul {
  display: block;
}
.header__language ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 10px;
  list-style: none;
  border-radius: 7.5px;
  background: #C7C7C7;
  padding: 4px;
  box-sizing: border-box;
}
.header__language ul li {
  width: 100%;
}
.header__language ul li a {
  width: 100%;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}
.header__language ul li a:hover {
  text-decoration: underline;
}

.header__bottom-line {
  width: 100%;
}

.header__menu {
  width: 100%;
  padding: 20px 0;
}
.header__menu > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.header__menu > ul > li {
  width: calc((100% / 10) - 18px);
  margin-right: 20px;
  background: #FFFFFF;
  box-shadow: none;
  transition: box-shadow 0.6s;
  border-radius: 15px;
}
.header__menu > ul > li:hover, .header__menu > ul > li.active {
  transition: box-shadow 0.6s;
  box-shadow: 0 5px 12.5px 3px rgba(0, 0, 0, 0.05);
}
.header__menu > ul > li:hover > a img:not(.hidden), .header__menu > ul > li.active > a img:not(.hidden) {
  display: none;
}
.header__menu > ul > li:hover > a .hidden, .header__menu > ul > li.active > a .hidden {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header__menu > ul > li:hover > a p, .header__menu > ul > li.active > a p {
  font-weight: normal;
  color: #1A1A1A;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.header__menu > ul > li:hover > a + .menu__dropped-container {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.header__menu > ul > li > a {
  padding: 25px 10px 17px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
}
.header__menu > ul > li > a img {
  object-fit: contain;
  width: 100%;
  max-height: 55px;
}
.header__menu > ul > li > a .hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header__menu > ul > li > a p {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.71em;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #959595;
  height: 20px;
  margin-top: 8px;
  max-width: 70px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.header__menu > ul > li:last-child {
  margin-right: 0;
}

.menu__dropped-container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.menu__dropped {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 5px 12.5px 3px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.menu__dropped > p {
  max-width: 97px;
  width: 100%;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 17px;
  color: #1A1A1A;
}
.menu__dropped > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  max-height: 250px;
  padding: 0;
  margin-left: 5px;
  width: 50%;
}
.menu__dropped > ul li {
  width: 102px;
  margin-bottom: 10px;
  margin-left: 20px;
  flex-shrink: 0;
  flex-basis: 102px;
}
.menu__dropped > ul li:nth-child(1), .menu__dropped > ul li:nth-child(2) {
  margin-left: 0;
}
.menu__dropped > ul li:nth-child(even) {
  margin-bottom: 0;
}
.menu__dropped > ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.menu__dropped > ul li a img {
  width: 100%;
  height: 102px;
  border-radius: 15px;
  object-fit: contain;
}
.menu__dropped > ul li a p {
  margin-top: 3px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 14px;
  text-align: center;
  color: #959595;
  transition: color 0.3s ease;
}
.menu__dropped > ul li a:hover p {
  color: #767676;
  transition: color 0.3s ease;
}
.menu__dropped > ul li a.active p {
  color: #84B286;
}

.menu-type {
  margin-left: 40px;
}
.menu-type form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-type form label {
  margin-bottom: 9px;
  flex-grow: 1;
}
.menu-type form label input {
  display: none;
}
.menu-type form label input.active + span {
  color: #84B286;
}
.menu-type form label input:checked + span {
  color: #1A1A1A;
}
.menu-type form label span {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #959595;
}

.menu-filter {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-filter > p {
  width: 100%;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 17px;
  color: #1A1A1A;
}
.menu-filter ul {
  margin-top: 16px;
  list-style: none;
  padding: 0;
  width: 140px;
}
.menu-filter ul li {
  width: 100%;
  margin-bottom: 10px;
}
.menu-filter ul li label {
  width: 100%;
  flex-grow: 1;
}
.menu-filter ul li label input {
  display: none;
}
.menu-filter ul li label input:checked + .btn.btn-green {
  background: #9DC19E;
}
.menu-filter ul li label input:checked + .btn.btn-orange {
  background: #EEB097;
}
.menu-filter ul li label input:checked + .btn.btn-red {
  background: #D58585;
}
.menu-filter ul li label input span {
  width: 100%;
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.85em;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  background: #C7C7C7;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover.btn-green {
  background: #84B286 !important;
}
.btn:hover.btn-orange {
  background: #EA9C7D !important;
}
.btn:hover.btn-red {
  background: #CB6666 !important;
}
.btn:hover.btn-white {
  background: #C7C7C7 !important;
  color: #ffffff;
}
.btn.active.btn-green {
  background: #9DC19E;
}
.btn.active.btn-orange {
  background: #EEB097;
}
.btn.active.btn-red {
  background: #D58585;
}
.btn.active.btn-white {
  background: #84B286;
  color: #ffffff;
}
.btn.btn-white {
  background: #FAFAFA;
  color: #767676;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 5px;
}

.slider-container {
  width: 100%;
}

.main-slider {
  width: 100%;
  height: 250px;
  background: #ffffff;
  box-shadow: 0 5px 12.5px 3px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.slick-list, .slick-track {
  height: 100%;
  width: 100%;
}

.one-slide {
  height: 100%;
}
.one-slide img {
  width: 100%;
  height: 100%;
}

.slick-slider-arrow {
  z-index: 2;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.slick-slider-arrow.slick-next {
  top: 50%;
  right: 26px;
  transform: translate(0, -50%) rotate(180deg);
}
.slick-slider-arrow.slick-prev {
  top: 50%;
  left: 26px;
  transform: translate(0, -50%);
}
.slick-slider-arrow::after {
  width: 7px;
  height: 7px;
  border: 1.5px solid #767676;
  border-right: none;
  border-bottom: none;
  margin-left: 3px;
  content: "";
  display: inline-block;
  transform: rotate(-45deg);
  transition: border-top-color 0.3s ease, border-left-color 0.3s ease;
}
.slick-slider-arrow:hover {
  transition: background-color 0.3s ease;
  background: #767676;
}
.slick-slider-arrow:hover::after {
  border-left-color: #ffffff;
  border-top-color: #ffffff;
  transition: border-top-color 0.3s ease, border-left-color 0.3s ease;
}
.slick-slider-arrow:focus, .slick-slider-arrow:active {
  transition: background-color 0.3s ease;
  background: #84B286;
}
.slick-slider-arrow:focus::after, .slick-slider-arrow:active::after {
  border-left-color: #ffffff;
  border-top-color: #ffffff;
  transition: border-top-color 0.3s ease, border-left-color 0.3s ease;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.products {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.products:first-child {
  margin-top: 26px;
}

.products__head {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.products__head .btn {
  width: 120px;
  margin-left: 20px;
}

.products__name {
  flex-grow: 1;
  padding-bottom: 6px;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
}
.products__name span {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.28em;
  line-height: 17px;
  color: #000000;
}

.products__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

.product-card {
  width: calc((100% / 5) - 16px);
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
.product-card:nth-child(5n) {
  margin-right: 0;
}
.product-card:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 5px 12.5px 3px rgba(0, 0, 0, 0.05);
}

.product-card__top {
  width: 100%;
  height: 140px;
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__top .img {
  width: 100%;
  height: 100%;
}
.product-card__top .img img {
  width: 100%;
  object-fit: contain;
}

.product-top__abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-tag {
  padding: 6px;
  border-radius: 5px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.71em;
  line-height: 12px;
  color: #ffffff;
}
.product-tag:nth-child(2) {
  margin-left: 8px;
}
.product-tag--green {
  background: #84B286;
}
.product-tag--orange {
  background: #EA9C7D;
}
.product-tag--red {
  background: #CB6666;
}

.favorite {
  outline: none;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 5px;
  height: 25px;
  width: 35px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  background: rgba(255, 255, 255, 0);
}
.favorite svg path {
  fill: #767676;
  transition: fill 0.3s ease;
}
.favorite.active svg path {
  fill: #D58585;
  transition: fill 0.3s ease;
}
.favorite:hover svg path {
  fill: #CB6666;
  transition: fill 0.3s ease;
}

.product-card__bottom {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 5px 12px;
  box-sizing: border-box;
}
.product-card__bottom > span {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #959595;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.product-card__price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-card__price p {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 300;
  font-size: 0.71em;
  line-height: 12px;
  color: #959595;
}
.product-card__price p strong {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 17px;
  color: #000000;
}
.product-card__price p:nth-child(2) {
  margin-left: 6px;
}
.product-card__price p:nth-child(2) strong {
  text-decoration-line: line-through;
}

.product-card__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 8px;
}
.product-card__btn .btn {
  color: #767676;
  flex-grow: 1;
  margin-right: 5px;
  height: 25px;
  padding: 4px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.product-card__btn .btn:hover, .product-card__btn .btn.active {
  color: #ffffff;
}

.add-cart {
  outline: none;
  border: 0.5px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 5px;
  height: 25px;
  width: 35px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
}
.add-cart svg path {
  fill: #767676;
  transition: fill 0.3s ease;
}
.add-cart.active {
  background: #84B286;
  border-color: rgba(255, 255, 255, 0);
}
.add-cart.active svg path {
  fill: #ffffff;
  transition: fill 0.3s ease;
}
.add-cart:hover {
  background: #C4C4C4;
  transition: background-color 0.3s ease;
}
.add-cart:hover svg path {
  fill: #767676;
  transition: fill 0.3s ease;
}

.products-category {
  width: 100%;
}

.show-all-prod {
  width: 100%;
}

.prod-category__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 20px 0;
}

.prod-category__card {
  width: calc((100% / 5) - 16px);
  margin-right: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  padding: 5px;
  box-sizing: border-box;
}
.prod-category__card:last-child {
  margin-right: 0;
}
.prod-category__card:hover {
  box-shadow: 0px 5px 12.5px 3px rgba(0, 0, 0, 0.05);
}
.prod-category__card .img {
  width: 100%;
  height: 228px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.prod-category__card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod-category__bottom {
  padding: 5px 5px 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.prod-category__bottom span {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 17px;
  color: #000000;
}
.prod-category__bottom .btn {
  width: 100%;
  color: #767676;
  flex-grow: 1;
  margin-top: 4px;
  height: 25px;
  padding: 4px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.prod-category__bottom .btn:hover, .prod-category__bottom .btn.active {
  color: #ffffff;
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 1010px;
  }

  .menu__dropped > p {
    max-width: 75px;
  }
  .menu__dropped ul {
    max-height: 220px;
  }
  .menu__dropped ul li {
    width: 80px;
    flex-basis: 80px;
  }
  .menu__dropped ul li a img {
    height: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
